.tela-principal {
    -fx-background-color: #68D200;
}

.botao {
    -fx-font-size: 16px;
    -fx-background-color: #DEDBFB;
    -fx-text-fill: #333;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.botao:hover {
    -fx-background-color: #8F85F9;
}
